.loginImg {
  background-color: rgba(128, 128, 128, 0.3);
  .waitLoginLoading {
    position: absolute;
    bottom: 2.5rem;

    .waitLoginLoadingbg {
      display: flex;
      padding: 5rem 2rem;
      background-color: aqua;
      color: rgb(61, 39, 166);
      border-radius: 45px;
      font-size: 1.5rem;
      p {
        margin: 0 1rem;
      }
      p:first-child {
        animation: topunder 1s linear infinite alternate-reverse;
      }
      p:nth-child(2) {
        animation: topunder 1.3s linear infinite alternate;
      }
      p:nth-child(3) {
        animation: topunder 0.7s linear infinite alternate-reverse;
      }
      p:nth-child(4) {
        animation: topunder 1.2s linear infinite alternate;
      }
      p:nth-child(5) {
        animation: topunder 1s linear infinite alternate-reverse;
      }
      p:nth-child(6) {
        animation: topunder 0.7s linear infinite alternate;
      }
    }
  }
  .waitLoginLoadingClose {
    display: none;
  }
}

@keyframes topunder {
  from {
    transform: translateY(15px);
  }
  to {
    transform: translateY(-15px);
  }
}
