* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
}

@media screen and(max-width:1500px) {
  header {
    .navi-container {
      background-color: rgba(0, 0, 0, 0.8);
      .nav-left {
        color: white !important;

        .naviicon {
          div {
            border-bottom: 5px solid #5ff7e8 !important;
          }
          div::after {
            background-color: #5ff7e8 !important;
          }
          div::before {
            background-color: #5ff7e8 !important;
          }
        }
        .search {
          .searchIcon {
            border: 3px solid #5ff7e8 !important;
            border-right: none !important;
          }
          input {
            border: 3px solid #5ff7e8 !important;
            border-left: none !important;
            border-right: none !important;
            color: #5ff7e8 !important;
          }
          button {
            border: 3px solid #5ff7e8 !important;
            border-left: none !important;
          }
        }
      }
      .nav-right {
        ul {
          li {
            color: white !important;
          }
          li::after {
            background-color: white !important;
          }
        }
      }
    }

    .allSidenavi {
      .sidenavi {
        background-color: rgba(0, 0, 0, 0.8) !important;
        ul {
          color: white !important;
        }
      }
    }

    .allUserbar {
      top: 180px !important;
      .userbar {
        color: white !important;
        background-color: rgba(0, 0, 0, 0.8) !important;
        svg {
          display: none;
        }
      }
    }
    .allUserbarChange {
      top: 180px !important;
    }
  }

  .allArticleBackground {
    .allArticleContainer {
      .allArticle {
        width: 90vw !important;
        .articleMessagePostContainer {
          width: 70vw !important;
          textarea {
            width: 80vw !important;
          }
        }
      }
    }
  }

  .contactUsbg {
    .contactUsContainer {
      .contactUs {
        p {
          color: white !important;
          -webkit-text-stroke: 2px #5ff7e8;
          text-shadow: black 0.1rem 0.1rem 0.2rem;
        }
      }
    }
  }

  .aboutUsbg {
    .aboutUsContainer {
      width: 90vw !important;
      .aboutUs-left {
        width: 90vw !important;
        ul {
          li {
            font-size: 1rem !important;
            margin-top: 2rem;
            border-bottom: 2px solid rgb(95, 158, 160);
          }
          li:hover {
            background-color: rgb(95, 158, 160);
            color: white;
          }
        }
      }
      .aboutUs-right {
        position: relative;
        .aboutUsImg {
          height: 25vh !important;
          width: 25vh !important;
          border-radius: 15rem 15rem;
          overflow: hidden;
          transition: all 0.8s;
          backface-visibility: hidden;
          transform-style: preserve-3d;
          position: absolute;
          top: 20rem !important;
          left: -18rem !important;

          img {
            max-height: 30vh !important;
            max-width: 30vh !important;
          }
        }

        .aboutUsImgBack {
          height: 25vh !important;
          width: 25vh !important;
          border-radius: 15rem 15rem;
          backface-visibility: hidden;
          transition: all 0.8s;
          transform-style: preserve-3d;
          position: absolute;
          top: 20rem !important;
          left: -18rem !important;
          transform: rotateY(-180deg);
          background-color: rgb(0, 128, 128);
          display: flex;
          justify-content: center;
          align-items: center;
          ul {
            li {
              color: white;
              font-size: 0.8rem !important;
            }
          }
        }
      }
      .aboutUs-right:hover .aboutUsImg {
        transform: rotateY(180deg);
      }
      .aboutUs-right:hover .aboutUsImgBack {
        transform: rotateY(0deg);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .postMessageBackground {
    .postMessageContainer {
      padding-top: 15rem !important;
      input {
        width: 80vw !important;
      }
      textarea {
        width: 80vw !important;
      }
      button {
        width: 80vw !important;
      }
    }
  }

  .videoBackground {
    padding-top: 10rem !important;
    .videosContainer {
      div {
        width: 90vw !important;
        iframe {
          width: 80vw !important;
          height: 30vh !important;
        }
      }
    }
  }
  .profileBackground {
    .profileContainer {
      font-size: 1.5rem !important;
    }
  }

  .myMessageBackground {
    padding-top: 15rem !important;

    .myMessageContainer {
      width: 80vw !important;
    }
  }

  main {
    .homepageImg {
      .homepageImgContent {
        top: 10rem !important;
        h1 {
          font-size: 6rem !important;
        }
        p {
          font-size: 1.5rem !important;
          margin-top: 0 !important;
        }
      }
    }
    .secondImg {
      .article {
        .news {
          width: 90vw !important;
          margin: 5rem 0 !important;
        }
      }
    }
  }

  .postArticleBackground {
    .postArticleContainer {
      width: 90vw !important;
      input {
        width: 80vw !important;
      }
      textarea {
        width: 80vw !important;
      }
      select {
        width: 80vw !important;
      }
    }
  }

  .contactUsbg {
    .contactUsContainer {
      .contactUs {
        p {
          font-size: 2.5rem !important;
        }
        form {
          input {
            width: 80vw !important;
            font-size: 1rem !important;
          }
          textarea {
            width: 80vw !important;
            height: 20vh !important;
            font-size: 1rem !important;
          }
          button {
            padding: 0.5rem 3rem !important;
          }
        }
      }
    }
  }
}

@import "./nav";
@import "./home";
@import "./login";
@import "./postArticle";
@import "./profile";
@import "./myMessage";
@import "./myArticle";
@import "./allArticle";
@import "./video";
@import "./postMessage";
@import "./wrongPage";
@import "./contactUs";
@import "./aboutUs";
@import "./footer";
@import "./entranceCheck";
